body {
  grid-template-columns: auto auto;
  font-family: 'Rubik Mono One', sans-serif;
  color: rgb(165, 86, 86);
  background-color: rgb(224,224,224);
  margin-top: 0px;
}

#board {
display: grid;
grid-template-columns: repeat(19, 4.5vh);
/* margin: 1%; */
}
.parentFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: flex-start;
  margin-right: auto;
  margin-left: 10px;
  height: 100%;
}

.header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: flex-start;
  margin-right: auto;
  margin-left: 10px;
  height: 100%;
  margin-bottom: 10px;
  width: 50%;
}

.center{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 975px;
  margin: 0 auto;
  height: 100%;

}

.flex1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-right: 30px;
}
.flex2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 20px 90px 30px 20px;
  background-color:rgb(211, 211, 211);
  height: 100%;
}
.tile {
/* border-style: solid; */
/* border-width: 1px; */
height: 4.5vh;
width: 4.5vh;
/* transition-duration: 2s; */
}
#kirby {
background-image: url("https://i.imgur.com/lZ2HA6Z.gif");
/* background-image: url("https://art.pixilart.com/66da8df531dd67b.gif"); */
background-color:rgb(224,224,224);
background-repeat: no-repeat;
background-size: 4vh 4vh;
background-position: center;
}
.scoreboard {
font-size: 20px;
}
h1 {
color: rgb(71, 55, 55);
margin: 0px;
}
#O {
background-image: url(https://i.imgur.com/ru2U5HW.png);
background-repeat: no-repeat;
background-size: 5vh 5vh;
background-position: center;
background-color:rgb(211, 156, 156);
}
#I{
background-color:rgb(224,224,224);
}
#W {
  background-image: url('https://i.imgur.com/CiCBJAF.gif');
  background-repeat: no-repeat;
  background-size: 4vh 4vh;
  background-position: center;
  background-color:rgb(224,224,224);
}
#T { 
background-image: url('https://i.imgur.com/CiCBJAF.gif');
background-repeat: no-repeat;
background-size: 4vh 4vh;
background-position: center;
/* background-color:rgb(199, 92, 92); */
background-color:rgb(224,224,224);
}

.list {
  margin-top: 20px;
}

.highscore{
  /* margin-top: 68px; */
  /* margin-left: 0px; */
}

p.highscoreHeader{
  color: rgb(71, 55, 55);
  margin: 0;
}

p.mazesHeader{
  color: rgb(71, 55, 55);
  margin: 0;
}

.levelListItem{
  /* font-family: 'Lato', sans-serif; */
  color: rgb(119, 106, 106);
  font-size: 14px;
  margin: 0;
}
.highscoreListItem{
  /* font-family: 'Lato', sans-serif; */
  color: rgb(119, 106, 106);
  font-size: 14px;
  margin: 0;
}