body {
  grid-template-columns: auto auto;
  font-family: 'Rubik Mono One', sans-serif;
  color: rgb(119, 106, 106);
  background-color: rgb(224,224,224);
  margin-top: 0px;
}

#board {
display: grid;
grid-template-columns: repeat(19, 4.5vh);
/* margin: 1%; */
}
.parentFlex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: flex-start;
  margin-right: auto;
  margin-left: 10px;
  height: 100%;
}

.header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: flex-start;
  margin-right: auto;
  margin-left: 10px;
  height: 100%;
  margin-bottom: 10px;
  width: 50%;
}

.center{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 90%;
  margin: 0 15% auto 10%;
  height: 100%;

}

.flex1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-right: 30px;
}
.flex2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 20px 90px 30px 20px;
  background-color:rgb(211, 211, 211);
  height: 100%;
  width: 15%;
}
.tile {
height: 4.5vh;
width: 4.5vh;
}
#kirby {
background-image: url("https://i.imgur.com/lZ2HA6Z.gif");
/* background-image: url("https://art.pixilart.com/66da8df531dd67b.gif"); */
background-color:rgb(224,224,224);
background-repeat: no-repeat;
background-size: 4vh 4vh;
background-position: center;
}
.time {
font-size: 20px;
color: rgb(119, 106, 106)
}
h1 {
color: rgb(71, 55, 55);
margin: 0px;
}
#O {
background-image: url('https://i.imgur.com/CiCBJAF.gif');
background-repeat: no-repeat;
background-size: 4.5vh 4.5vh;
background-position: center;
}
.pink #O{
  background-image: url(https://i.imgur.com/VXpw7Mt.png);
}
.blue #O{
  background-image: url(https://i.imgur.com/rN6ZgGS.png);
}
.purple #O{
  background-image: url(https://i.imgur.com/QsTGxut.png);
}
.green #O{
  background-image: url(https://i.imgur.com/sp4DwQi.png);
}
#I{
  background-color:rgb(224,224,224);
}
#W {
  background-image: url('https://i.imgur.com/CiCBJAF.gif');
  background-repeat: no-repeat;
  background-size: 5vh 5vh;
  background-position: center;
  background-color:rgb(224,224,224);
}
#T { 
background-image: url('https://i.imgur.com/CiCBJAF.gif');
background-repeat: no-repeat;
background-size: 3.5vh 3.5vh;
background-position: center;
background-color:rgb(224,224,224);
}

#pastT { 
  background-image: url(https://i.imgur.com/g31Pn0O.png);
  background-repeat: no-repeat;
  background-size: 3.5vh 3.5vh;
  background-position: center;
  background-color:rgb(224,224,224);
  }

.list {
  margin-top: 20px;
  width: 140%;
}

p.highscoreHeader{
  color: rgb(71, 55, 55);
  margin: 0;
}

p.mazesHeader{
  color: rgb(71, 55, 55);
  margin: 0;
}

.levelListItem{
  /* font-family: 'Lato', sans-serif; */
  color: rgb(119, 106, 106);
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}
.levelListItemRed{
  color: rgb(71, 55, 55);
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}
.highscoreListItem{
  color: rgb(119, 106, 106);
  font-size: 14px;
  margin: 0;
}

/* for modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 28rem;
  border-radius: 0.3rem;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 35px;
  background-color: rgb(224,224,224);
}
.close-button {
  float: center;
  padding: 10px 15px;
  /* line-height: 1.5rem; */
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  color: rgb(224,224,224);
  background-color: rgb(165, 86, 86);
  transition-duration: 0.1s;
}
.close-button:hover {
  background-color: darkgray;
} 
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.sadKirby{
  margin-bottom: 25px;
}
.outOfTime{
  margin-bottom: 5px;
}
input.close-button {
  float: center;
  padding: 10px 15px;
  /* line-height: 1.5rem; */
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  color: rgb(224,224,224);
  background-color: rgb(165, 86, 86);
  font-size: 16px;
}
input[type=text] {
  width: 50%;
  background-color: rgb(243, 243, 243);
  color: rgb(71, 55, 55);
  padding: 5px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px;
  transition-duration: 0.2s;
}
input[type=text]:hover {
  width: 50%;
  background-color: rgb(243, 243, 243);
  color: rgb(71, 55, 55);
  padding: 5px 8px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 50px;
  text-align: center;
  /* margin-bottom: 35px; */
}
input[type=text]:focus {
  width: 50%;
  background-color: rgb(243, 243, 243);
  color: rgb(71, 55, 55);
  padding: 5px 8px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 50px;
  text-align: center;
  /* margin-bottom: 35px; */
}
p.finalScoreHeader{
margin:0;
}
p.finalScore{
  color: rgb(71, 55, 55);
  font-size: 116px;
  margin: 0;
}

.low-time{
  color: rgb(165, 86, 86);
}

.instructions{
  width: 130%
}

.instructionsHeader{
  color: rgb(71, 55, 55);
  margin: 0;
}

.instructionText{
  margin-top: 0px;
  font-size: .75em;
}

.win{
  color: rgb(165, 86, 86);
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%
}